<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<% var data = siteSettings;
       htmlname = filename.split('/').splice(-1)[0].replace('ejs', 'html');
%>
<% include _header %>
<body>
    <div class="container">
        <h1>Start</h1>
    </div>
<% include _footer %>
</body>
</html>