@import "../../node_modules/kouto-swiss"

.clearfix {
    clearfix();
}

body {
    font-size: 62.5%;
    h1 {
        font-size: 10rem;
    }
}

.flex {
    display: flex;
}

+media-query( screen and max-width 979px ) {
// Netbook
}
+media-query( screen and max-width 767px ) {
// Tablet
}

+media-query( screen and max-width 479px ) {
// SmartPhone
}