@import "kouto-swiss"

.clearfix {
    clearfix()
}

body {
    font-size: 20px;
    h1 {
        font-size: 1rem;
    }
}

+media-query( screen and max-width 979px ) {
// Netbook
}
+media-query( screen and max-width 767px ) {
// Tablet
}

+media-query( screen and max-width 479px ) {
// SmartPhone
}